* {
    margin: 0;
    padding: 0;
    top: 0;
    box-sizing: border-box;
    user-select: none;
}
html {
    scroll-behavior: smooth;
    font-size: 16px;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}

$blue:#5a00e0;
$secondBlue:#6500e8;

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background: rgb(224, 234, 243);
    color: white;
}


::-webkit-scrollbar {
    width: 10px;
  }
    ::-webkit-scrollbar-track {
    background: #0c0c0c;
  }
    ::-webkit-scrollbar-thumb {
    background: $blue;
    border-radius: 100px;

    }
    ::-webkit-scrollbar-thumb:hover {
    background: $secondBlue;
  }


.hero {
    width: 100%;
    height: 100vh;
    background-image: url('../images/svg2.svg');
    display: grid;
    grid-template-columns: auto auto;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 1rem;
    background-size: cover;

    .heroImg {
        max-width: 20%;
        position: relative;
        z-index: 1;
    }


    .heroTitle {
        text-align:left;
        font-size: clamp(1.2rem , 6vw , 3rem);


      .button {
        text-align: center;

            .heroSocial {
                margin-top: .5rem;
                
                a {
                    width: 40px;
                    margin: 0 .5rem;
                    transition: 400ms ease;

                    i {
                        font-size: 1.7rem;
                        width: 40px;
                    }
                   
                }

                a:nth-child(1):hover {
                    color: #2C2F33 ;
                }
                a:nth-child(2):hover {
                    color: #c13584;
                }
                a:nth-child(3):hover {
                    color: #0e76a8;
                }
                a:nth-child(4):hover {
                    color: #00f2ea;
                }
            }

          .heroBtn {
            margin-top: 2em;
            
            padding: 1rem 4rem;
            border: none;
            max-width: 100%;
            outline: none;
            background-color: transparent;
            cursor: pointer;
            border: 2px solid white ;
            border-radius: 4px;
            color: white;
            font-size: 1.25rem;
            position: relative;
            z-index: 1;
            transition: 300ms ease;
        }
        .heroBtn:before {
            content: '';
            position: absolute;
            width: 100%;
            z-index: -1;
            height: 100%;
            background-color: white;
            transform: scaleX(0);
            transition: 300ms ease;
            top: 0;
            left: 0;

        }
        .heroBtn:hover::before {
            transform: scaleX(1);
        }
        .heroBtn:hover {
            color: $blue;
            box-shadow: 2px 1px 15px rgb(255, 255, 255);

        }
      }
    }

    
    

}


.about {
    width: 100%;
    margin-bottom: 15rem;
    display:grid;
    z-index: 999;
    overflow: hidden;
    grid-template-columns: repeat(auto-fit , minmax(600px , 1fr));
    gap: 2rem;
    padding: 15rem 1rem 4rem 1rem;
    color: rgb(16, 16, 17);
    position: relative;
    background: rgb(224, 234, 243);
    
    .respImg {
        display: none;
        

    }
    
    .slideshow {
        display: flex;
        overflow: hidden;
        max-width: 100%;
        margin: 0 auto;
        border-radius: 8px;
        img {
            transition: 400ms ease;

        }
        

    }
    .aboutText {
        flex: 1;
        h1 {
            font-size: clamp(2rem , 10vw , 4rem);
            color: $blue;
            
        }
        p {
            font-size: 1.5rem;
            line-height: 35px;
            margin-top: 1rem;
        }

    }
  
}
.FAQ {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 15em 0;

    #sectionTitle {
        margin: 2rem 0;
        font-size: clamp(2rem,5vw,5rem);
        color: $blue;
    }

    .faqQuestion {
        max-width: 1200px;
        width: 100%;
        margin: .5rem ;
        color: white;
        background: $blue;
        box-shadow: 2px 2px black 20px;
        border-radius: 4px;
        padding: 1.5rem;
        
        

        .faqTitle {
            display: flex;
            cursor: pointer;
            justify-content: space-between;
            align-items: center;


                .faqTitle- {
                    font-size: 1.5rem;
                }

                .fa-times {
                    font-size: 1.25rem;
                    transition: 400ms ease;
        }
        

        

    }

    .desc {
        
        max-height: 0px;
        transition: max-height 0.5s cubic-bezier(0, 1, 0, 1);
        overflow: hidden;
        

        .faqDesc {
            font-size: 1.2rem;
            padding: .5rem;
            
        }
    }
    .descOpen {
        max-height: 1000px;
        transition: max-height 1s ease-in-out;

    }
}


}

.pricing {
   background: #0c0c0c;
   padding: 3rem 2rem ;
   margin: 15em 0;
   background-image: url('../images/pricingBg.svg');
   background-size: cover;
   
    .sectionTitle {
        color: $secondBlue;
        text-align: center;
        font-size: 3rem;
        padding-bottom: 2rem;
    }

    .cards {
        display: flex;
        flex-wrap: wrap-reverse;
        align-items: center;
        justify-content: space-around;
        color: white;
        max-width: 1800px;
        margin: 0 auto;
        text-align: center;


        .duration {
            background: $secondBlue;
            padding: 1rem;
        }
        .priceCard:last-child {
            box-shadow: 24px 1px 40px $secondBlue,
            1px 10px 50px #00f2ea,
            6px 2px 20px #0e76a8;
        }
        .priceCard {
            width: 500px;
            background: #162135;
            margin-top: 2rem;
            border-radius: 6px;
            overflow: hidden;

            
            .content {
                margin: 2rem 0;

                #price {
                    font-size: 2.5rem;
                }
                #sale {
                    text-decoration: line-through;
                    font-size: 1.75rem;
                    color: gray;
                    margin-bottom: 2rem;
                }

               

                #priceBtn {
                    background: linear-gradient(-45deg, #3f00b5, #9f69fe, $secondBlue, $blue);
                    background-size: 800% 400%;
                    padding: 1em 2em;
                    display: inline-block;
                    border: none;
                    border-radius: 10px;
                    font-size: 17px;
                    cursor: pointer;
                    font-weight: 700;
                    color: white;
                    transition: all .5s ease-in-out;
                    animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
                   }
                   
                   #priceBtn:hover {
                    animation: gradient 3s infinite;
                    transform: scale(1.05);
                   }
                   
                   #priceBtn:active {
                    animation: gradient 3s infinite;
                    transform: scale(0.8);
                   }
                   
                   @keyframes gradient {
                    0% {
                     background-position: 0% 50%;
                    }
                   
                    50% {
                     background-position: 100% 50%;
                    }
                   
                    100% {
                     background-position: 0% 50%;
                    }
                   }
            }


        }

        p {
            margin: 1rem 0;
        }
    }


}


.contact {
    padding: 5rem 2rem;
    background-image: url('../images/contactBg.svg');    
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;

    .contactWrapper {
        margin: 0 auto;
        max-width: 1200px;
        display: flex;
        justify-content: space-between;

    }


    ul {
        list-style-type: none;
    }



    .contactForm {
        width: 100%;
        max-width: 500px;
        
        .formInput {
            display: flex;
            justify-content: space-between;
            align-items: center;
            

            input {
                background: transparent;
                outline: none;
                border: transparent;
                border-bottom: 2px solid white;
                font-size: 1.25rem;
                width: 50%;
                margin-right: 1rem;
                padding: 0 1rem;
                color: white;
            }
        }


        textarea {
            resize: none;
            margin-top: 1rem;
            font-family: sans-serif;
            padding: 1rem;
            width: 100%;
            border: 2px solid white;
            color: white;
            border-radius: 6px;
            background: rgba(16, 16, 17,.5);
            outline: none;
        }
    }

}



@media(max-width:700px) {
    .about {
        grid-template-columns: auto;


        .slideshowImg {
            display: none;
        }
        .slideshow {
            width: 100%;
        }
        .respImg {
            display: block;
            object-fit: contain;
            width: 100%;
        }
    }
}
@media (max-width:1200px) {


    .hero {
        padding: 10rem 0;
        .heroImg {
            display: flex;
            max-width: 400px;
            
        }

        .heroTitle {
            width: 100%;
            text-align: center;
            .button {
                text-align: center;
            }
        }

    }

}
